 {
        "api_key": "xxxxxxxxxxxxxxxxxx",
        "api_key_secret": "xxxxxxxxxxxxxxxxxx",
        "bearer_token": "xxxxxxxxxxxxxxxxxx%2FttZXYP85NE1V%2F9E%3D3L7vDssLnCZI4DRo7YW3f7exdeIRmKUn7nb6RONiMUf3CRVsSJ"
}
